html {
  scroll-behavior: smooth
}

body {
  margin: 20px;
  padding: 0;
  background: #333;
}

.container {
  max-width: 760px;
  margin: auto;
  border: white solid 3px;
  background: #fff;
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

i {
  color: rgb(173, 129, 79);
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  opacity: 0.5;
}

i:hover {
  color: rgba(221, 139, 6, 0.911);
  transition: 1s;
  opacity: 1;
  cursor: pointer;
}
